@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Parkinsans', sans-serif;
    background-color: #00332c;
}

html {
    height: 100vh;
    width: 100%;
}


